#layout-footer{
    color: white;
    height: 150px;
    width: 100%;
    background: rgb(116,127,129);
background: linear-gradient(159deg, rgba(116,127,129,1) 14%, rgba(100,99,135,0.9556197478991597) 71%, rgba(40,39,41,1) 100%);
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    position:sticky;
    top: 100vh;

    a{
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    a:hover{
        color: green;
    }
   
    .footer-nav{
        ul{
            list-style: none;
        }
    }
}