.header-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 120px;
    background: rgb(116,127,129);
background: linear-gradient(159deg, rgba(116,127,129,1) 14%, rgba(100,99,135,0.9556197478991597) 71%, rgba(40,39,41,1) 100%);
   
    .nav-container{
        position: relative;
        display: inline-block;
        top: 22px;
        left: 15px;
        img{
            width: 70px;
        }
    }
    
    .nav-links-container{
        list-style: none;
        display: inline-block;
        padding-left: 2rem;

        .dropdown{
            display: inline-block;
            position: absolute;
        }


        .btn{
            background-color: rgb(17, 13, 80);
            border: none;
            color: white;
        }

        .btn:hover{
            background-color: green;
        }

        
        .students-drop-down-btn{
            position: relative;
            left: 250px;
            bottom: 28px;

        }

        #interview-drop-down-btn{
            position: relative;
            left: 320px;
            bottom: 50px;
            background-color: rgb(14, 9, 80);
            border: none;
            
        }

        #interview-drop-down-btn:hover{
            background-color: green;
        }


        .job-portal-btn{
            position: relative;
            left: 500px;
            bottom: 28px;
        }
                    
        .download-csv-btn{
            position: relative;
            left: 570px;
            bottom: 30px;
        }


        .nav-link{
            text-decoration: none;
            color: rgba(22, 7, 10, 0.986);
            font-size: 25px;
            position: relative;
            left: 70rem;
            bottom: 31px;
            margin-left: 29px;
            text-transform: capitalize;
    
        }
        

        .nav-links{
            text-decoration: none;
            color: rgb(26, 9, 43);
            font-size: 20px;
            position: relative;
            left: 65rem;
            bottom: 30px;
            margin-left: 10px;
        }

   
    }
}

