.header-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 120px;
  background: #747f81;
  background: linear-gradient(159deg, #747f81 14%, rgba(100, 99, 135, 0.95562) 71%, #282729 100%); }

.nav-container {
  position: relative;
  display: inline-block;
  top: 22px;
  left: 15px; }
  .nav-container img {
    width: 70px; }

.nav-links-container {
  list-style: none;
  display: inline-block;
  padding-left: 0rem; }
  .nav-links-container .dropdown {
    display: inline-block;
    position: absolute; }
  .nav-links-container .btn {
    background-color: #110d50;
    border: none;
    color: white; }
  .nav-links-container .btn:hover {
    background-color: green; }
  .nav-links-container .students-drop-down-btn {
    position: relative;
    left: 250px;
    bottom: 28px; }
  .nav-links-container #interview-drop-down-btn {
    position: relative;
    left: 320px;
    bottom: 50px;
    background-color: #0e0950;
    border: none; }
  .nav-links-container #interview-drop-down-btn:hover {
    background-color: green; }
  .nav-links-container .job-portal-btn {
    position: relative;
    left: 500px;
    bottom: 28px; }
  .nav-links-container .download-csv-btn {
    position: relative;
    left: 570px;
    bottom: 30px; }
  .nav-links-container .nav-link {
    text-decoration: none;
    color: grey;
    font-size: 23px;
    position: relative;
    left: 37rem;
    bottom: 31px;
    margin-left: 19px;
    text-transform: capitalize;
    transition: color 0.3s ease, box-shadow 0.3s ease; }
  .nav-links-container .nav-links {
    text-decoration: none;
    color: #1a092b;
    font-size: 20px;
    position: relative;
    left: 5rem;
    bottom: 30px;
    margin-left: 10px; }

/* Fixed header with gradient background */
